<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>

	<link
		rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
		crossorigin="anonymous">

	<script
		src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous">
	</script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous">
	</script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous">
	</script>

  <style>
    {% autoescape off %}
      {{ styles }}
    {% endautoescape off %}
  </style>
</head>
<body>
	{{ navbar.render }}

  <br><br>
  <div class="container">
    <h1 class="display-3">Example</h1>
    <p>
      You are now viewing '{{ navbar.active_navitem.href }}'
      {% with navbar.active_navitem.url_components as components %}
        {% if components.query %}
          with the following query params '{{ components.query }}'
        {% endif %}
      {% endwith %}
    </p>
    <br>

    <div class="row">
      <div class="col-sm-12 border rounded pt-3">
        {% autoescape off %}
          {{ navbar_code }}
        {% endautoescape off %}
      </div>
    </div>
    <code>
    </code>
  </div>
</body>
</html>
